{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    // AirBnb
    "airbnb",
    // Базовые правила react
    "plugin:react/recommended",
    // Базовые правила react hooks
    "plugin:react-hooks/recommended",
    // Базовые правила для TypeScript
    "plugin:@typescript-eslint/recommended",
    // Правила TS, требующие инфо о типах
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  // Движок парсинга
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "simple-import-sort"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["src", "./src"], ["test", "./test"]],
        "extensions": [
          ".js", ".ts", ".tsx"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 1,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/ban-ts-comment": "warn",
    "import/prefer-default-export": 0,
    "arrow-parens": 0,
    "no-trailing-spaces": 0,
    "import/extensions": 0,
    "object-curly-spacing": 0,
    "no-shadow": 0,
    "simple-import-sort/imports": ["error",
      {
        "groups": [
          // Packages. `react` related packages come first.
          ["^react", "^@?\\w"],
          // Internal packages.
          ["^src"],
          // Hooks imports.
          ["^use[A-Z]"],
          // Relative imports
          ["^\\."],
          // Style imports.
          ["^.*\\.less$"]
        ]
      }
    ]
  }
}
